:root{
    --branco-principal:#FFFFFF;
    --cinza-secundario:#C0C0C0;
    --botao-azul:#167BF7;
    --cor-de-fundo:#00030C;
    --fonte-principal: 'Inter'
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
*{
    margin: 0px;
    padding: 0px;
}
.principal{
    background-image: url("Background.png");
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
}
.container{
    height: 100vh;
    display:grid;
    grid-template-columns: 50% 50%;
}
.container__botao{
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-decoration: none;
    margin-bottom:1em ;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.container_aviso{
    font-size: 12px;
    color:var(--cinza-secundario);
}
.container_titulo{
    font-size: 28px;
    font-weight: 700;
}
.container__imagem{
    margin-bottom: 1em 0 2em 0;
}
.container__caixa{
    margin: 0 6em;
}
.secundario__imagem{
    width: 80%;
}
.secundario{
    align-items: center;
    margin:0 10em;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
}
.descricao__texto{
    margin-bottom: 0.1em;
    color: var(--cinza-secundario)
}
.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}